.account_details{
  color: #5273dd;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.account_details .identicon{
  margin: 0rem .25rem;
}

.eth_account{
    background: white;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
  }

.alert{
    padding: .25rem 1rem !important;
    margin-bottom: 0 !important;
}