.modal-footer, .modal-header{
    background-color: #5a76fd;
    color: white;
}

.modal-dialog.upload_modal {
    position: absolute;
    text-align: unset;
    top: 10vh;
    left: 33vw;
    min-width: 350px;
    width: 40vw;
    z-index: 3;
}

@media (max-width: 1000px) {
    .modal-dialog.upload_modal {
        left: 25%;
    }
}

@media (max-width: 750px) {
    .modal-dialog.upload_modal {
        left: 15%;
    }
}

@media (max-width: 500px) {
    .modal-dialog.upload_modal {
        left: 2%;
    }
}

.modal-body{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.modal-body form{
    width: 100%;
}

.modal-body label {
    display: flex;
}

.modal-footer button.close_btn {
    border: white 1.5px solid;
    color: white;
    height: 100%;
    padding: .275rem;
    background-color: transparent;
    border-radius: .125rem;
}

.close_btn:hover{
    box-shadow: 5px 10px 30px rgba(255, 255, 255, 0.486);
    transition: all ease 0.2s;
}

.modal-body input[type=text], .modal-body .file_input {
    border: #5a76fd 1.5px solid;
    color: #5a76fd;
    height: 100%;
    padding: .275rem;
    background-color: transparent;
    border-radius: .125rem;
}

.modal-body input[type=text] {
    width: 100%;
}

.modal-body .form-check, .input_label{
    color: #5a76fd;
}

.modal-body ul span.remove_tag{
    cursor: pointer;
    padding: .3rem;
    color: lightgrey;
}



.modal-body ul span.remove_tag:hover{
    color: white;
}

.input_label{
    margin-top: 1rem;
}

.modal-body .file_input{
    justify-content: space-between;
}

.file_input_name{
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0rem 1rem;
    margin: auto;
}

.modal-body input[type=file]{
    justify-self: baseline;
}

.select_file{
  border:#5a76fd 1.5px solid;
  color: white;
  height: 100%;
  padding: .275rem;
  background-color: #5a76fd;
  border-radius: .125rem;
}

.close span{
  color: white;
}

.close:hover{
    box-shadow: none;
}

.tag_list {
    justify-content: center;
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
  }
  
  .tag {
    margin: .1rem;
  }